.container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1000px;
      margin: 50px auto;
      padding: 20px;
      gap: 30px;
    }

.texto {
      flex: 1;
      font-family: Arial, sans-serif;
      font-size: 18px;
      color: #333;
    }

.imagem {
      flex: 1;
    }

.imagem img {
      max-width: 100%;
      height: auto;
      border-radius: 8px;
    }


footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    color: #fff;
    background-color: #333;
}