* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(10, 0, 0);
    color: #f8f6f6;
    line-height: 1.6;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.bio,
.details {
    background: rgb(0, 16, 1);
    margin: 20px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Formation , .Robotics{
    background: rgb(0, 16, 1);
    margin: 10px auto;
    padding: 20px;
    max-width: 700px;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

}

.button_right {
    margin-left: auto; /* Pushes the element to the right in a flex container */
}

.curved-box {
    margin-right: auto; /* Pushes the element to the left in a flex container */
    background: rgb(20, 7, 89);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    height: 50px; /* Fixed height */
    color: white;

    display: flex;
    justify-content: center;  /* horizontal centering */
    align-items: center;      /* vertical centering */

}

.bio img {
    width: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
}

footer {
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    color: #fff;
    background-color: #333;
}